*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $white;
    font-family: $font-family;
}

$breakpoint-small: "only screen and (min-width: 400px)";
$breakpoint-medium: "only screen and (min-width: 800px)";
$breakpoint-large: "only screen and (min-width: 1200px)";

@for $i from 1 through $grid-columns {
    .column-#{$i} { 
        width: 100% / $grid-columns * $i;
    }
}

@function column($n){
    @return 100% / $n
}
.text-center{
    text-align: center;
    line-height: 50px;
}
.padd{
    padding: 1em;
    margin: 1em 1em 0  0;
}
.container{
    width: 95%;
    margin: auto;
}

/*

@media #{$breakpoint-medium} {
    #main {      
        width: 95%;
        max-width: $grid-max-width;     
        }
    @for $i from 1 through $grid-columns {      
        .column-#{$i} {         
            width: 100% / $grid-columns * $i;   
            }           
        }   
    }

*/
